@using FinalExam.ViewModels.Account
@model RegisterVM

<div>
    <form asp-controller="Account" asp-action="Register">
        <div class="text-danger" asp-validation-summary="All"></div>

        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input asp-for="@Model.Username" type="text" class="form-control" id="Username" placeholder="Add Username">
            <span class="text-danger" asp-validation-for="@Model.Username"></span>
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control" id="Name" placeholder="Add Name">
            <span class="text-danger" asp-validation-for="@Model.Name"></span>
        </div>
        <div class="mb-3">
            <label for="Surname" class="form-label">Surname</label>
            <input asp-for="@Model.Surname" type="text" class="form-control" id="Surname" placeholder="Add Surname">
            <span class="text-danger" asp-validation-for="@Model.Surname"></span>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input asp-for="@Model.Email" type="email" class="form-control" id="Email" placeholder="Add Email">
            <span class="text-danger" asp-validation-for="@Model.Email"></span>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input asp-for="@Model.Password" type="password" class="form-control" id="Password" placeholder="Add Password">
            <span class="text-danger" asp-validation-for="@Model.Password"></span>
        </div>
        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">ConfirmPassword</label>
            <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="Add ConfirmPassword">
            <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
        </div>
        <p>Don't you have account?<a asp-controller="Account" asp-action="Login">Login</a></p>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>